html, 
body {
    margin: 0;
    padding: 0;
}

/* Header CSS */

.mainHeader {
    display: flex;
    justify-content: space-between;
    margin: 0.25em 0.75em;
    padding: 0.25em 0.75em;
    /* background-color: aquamarine; */
}

.logoDiv {
    display: flex;
    align-items: center;
}

.logoImg {
    width: 23px;
    height: 23px;
}

.logoText {
    display: inline;
    /* font-size: 13.5px; */
    font-size: 0.844rem;
    padding: 0 0.37em;
    /* padding: 0 5px; */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.headerBtnDiv {
    display: flex;
    align-items: center;
}

.headerBtn {
    background: none;
    border: none;
    /* font-size: 12px; */
    font-size: 0.75rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
}

.headerBtn:active,
.headerBtn:focus {
    outline: none;
}

/* Footer CSS */

.mainFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    /* height: 100px; */
    padding: 2.18em 0;
}

.footH3 {
    color: #ECECEC;
    /* font-size: 12px; */
    font-size: 0.75rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    margin: 0;
}

.footP {
    color: #D7D7D7;
    /* font-size: 12px; */
    font-size: 0.75rem;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    /* padding-top: 5px; */
    padding-top: 0.42em;
}

/* Hero post */

.heroPostDiv {
    display: block;
    background: url("./images/article-image-hero.jpg");
    background-size: cover;
    padding: 20px 20px 10px 20px;
    cursor: pointer;
}

.heroPostText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 290px;
    max-width: 660px;
    font-family: "Source Sans 3", sans-serif;
    color: #FFFFFF;
}

.heroPostTextDark {
    color: #151515;
    padding-top: 10px;
}

.heroPostText span {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.heroPostText h1 {
    font-size: 32px;
    margin: 0;
    padding: 10px 0 0 0;
}

.heroPostText p {
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
}

/* Articles div */

.acrticleDivTitle {
    font-weight: 700;
    font-size: 16px;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
}

.arcticlesDiv {
    padding: 20px;
}

.arcticlesDivDark {
    padding: 10px 20px 20px 20px;
}

.articleImg {
    width: 100%;
}

article {
    padding: 20px 0;
}

.article-header p {
    font-size: 14px;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 15px 0 0 0;
}

.article-header h2 {
    font-size: 24px;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 15px 0 0 0;
}

.article-header h3 {
    font-size: 16px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 15px 0 0 0;
}

.viewMBtnDiv {
    text-align: center;
    padding: 0 0 30px 0;
}

.viewMBtn {
    text-decoration: underline;
    background: none;
    border: none;
    font-size: 16px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
}

.viewMBtn:active,
.viewMBtn:focus {
    outline: none;
}

.hidden {
    display: none;
}

@media (min-width: 480px) {
    .mainHeader {
        padding: 5px 20px;
        margin: 5px 20px;    
    }
    
    .headerBtn {
        font-size: 16px;
    }
    
    .logoImg {
        width: 34px;
        height: 34px;
    }
    
    .logoText {
        font-size: 20px;
    }
    
    .heroPostText p {
        width: 80%;
    }
}